.slider {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: 200px;
}
.slider > div:nth-child(1) {
  background-color: green;
}
.slider > div:nth-child(2) {
  background-color: blue;
}
.slider > div:nth-child(3) {
  background-color: pink;
}

.btns {
  display: flex;
}
.btn {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: gray;
}
